{% extends 'users/layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}