{% extends 'users/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Edit User</h3>
    <div id="yellow-wrapper">
        {{ form(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}