{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}

{% block loggedInBoard %}
    <li><a href="{{ path('fos_user_security_logout') }}">Logout<span style="font-size:16px; padding-left: 8px;" class="pull-right showopacity glyphicon glyphicon-log-out"></span></a></li>
{% endblock %}

{% block loggedInMenu %}
{% endblock %}