{% extends 'schedule/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Edit Schedule Item</h3>
    <div id="yellow-wrapper">
        {{ form(form) }}
        <a href="{{ path('schedule_list_all') }}" class="btn btn-primary">Back</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}