{% extends 'schedule/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>List All Schedule Items</h3>
    <div id="yellow-wrapper">
        <div class="list-group">
            {% for item in items %}
                <a href="#" class="list-group-item">
                    {{ item }}
                    <b>Created At: <b>{{ item.created|date('Y-m-d H:i:s') }}</b></b>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}