{% extends 'event/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>List All Session Events</h3>
    <div id="yellow-wrapper">
        <div class="list-group">
            {% for event in events %}
                <a href="#" class="list-group-item">
                    {{ event }}<br/>
                    <b>Created At: <b>{{ event.created|date('Y-m-d H:i:s') }}</b></b>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}