{% block SessionSignUpType_label %}{% endblock %}
{% block SessionSignUpType_errors %}{% endblock %}

{% block SessionSignUpType_widget %}
    <div class="row">
        <div class="col-md-6">

            <div class="attendee-input-wrap">
                {{ form_widget(form.signee) }}
            </div>
{#            <div class="subscription-info-wrap">#}
{#                {{ form_widget(form.subscription_info) }}#}
{#            </div>#}
        </div>
        <div class="col-md-3">
            <div class="waitlisted-input-wrap">
                {{ form_widget(form.waitListed, {'label': 'Várólistás'}) }}
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" class="signup-collection-remove btn btn-default">Törlés</a>
            <a href="#" class="signup-collection-add btn btn-default">Hozzáadás</a>
        </div>
        <div class="col-md-1">
            <a href="#" class="signup-collection-duplicate btn btn-default">Duplázás</a>
        </div>
    </div>
{% endblock %}