{% extends 'stats/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Statisztikai Adatok Megtekintése</h3>
    <div id="yellow-wrapper">
        <div id="view-user-account-wrapper">
            <h4><b>TODO</b></h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Tulajdonos</th>
                    <th>Email</th>
                    <th>Alkalmak Száma</th>
                    <th>Kezdeti Időpont</th>
                    <th>Ár</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            TODO
                        </td>
                        <td>
                            TODO
                        </td>
                        <td>
                            TODO
                        </td>
                        <td>
                            TODO
                        </td>
                        <td>
                            TODO
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}